<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Listing</title>
  </head>
  <body>
    <h2>Create a New Listing</h2>
    <form method="POST" action="/listings">
      <input name="listing[title]" placeholder="Enter the title" type="text" />
      <br /><br /><br />
      <textarea
        name="listing[description]"
        placeholder="Enter description"
      ></textarea>
      <br /><br /><br />
      <input name="listing[image]" placeholder="Enter image url" type="text" />
      <br /><br /><br />
      <input name="listing[price]" placeholder="Enter price" type="number" />
      <br /><br /><br />
      <input name="listing[country]" placeholder="Enter country" type="text" />
      <br /><br /><br />
      <input
        name="listing[location]"
        placeholder="Enter location"
        type="text"
      />
      <br /><br /><br />
      <button>Add</button>
    </form>
  </body>
</html>
